<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Error Recorded</title>
    <style type="text/css">
        td {
            font-family: Arial, Verdana;
            font-size: 12px;
            border: 1px solid;
            border-color: darkslategrey;
            vertical-align: text-top;
            text-align: left;
            padding: 2px;
            margin: 0;
        }
        p {
            font-family: Arial, Verdana;
            font-size: 12px;
        }
    </style>
</head>
    <body style="font-family:Arial,Verdana; font-size:12px;">
        ALERT: ||Service|| Service Update
        <p/>
        Details are as follows:
        <table style="border:0px solid; border-collapse:collapse; border-spacing:0;">
            <tr>
                <td style="width:150px;">
                    Date and Time
                </td>
                <td>
                    ||DateTime||
                </td>
            </tr>
            <tr>
                <td>
                    Service
                </td>
                <td>
                    ||Service||
                </td>
            </tr>
            <tr>
                <td>
                    Service Name
                </td>
                <td>
                    ||ServiceName||
                </td>
            </tr>
            <tr>
                <td>
                    Service Path
                </td>
                <td>
                    ||ServicePath||
                </td>
            </tr>
            <tr>
                <td>
                    Status
                </td>
                <td>
                    ||Status||
                </td>
            </tr>
        </table>
    </body>
</html>